<h1>Create a New Subreddit</h1>

<form  action="/new_board" method="post">
<label for="name">Name that board</label>
<input type="text" name="title">
<button type="submit" class="btn" name="button">Create</button>
</form>
